<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
</head>

<body>

    <div>
        <input type="text" placeholder="目标id" id="user">
        <input type="text" placeholder="想说的话" id="info">
        <button id="send">发送</button>
        <h3 id="userid"></h3>
        <hr>
        <div class="display-table"></div>
    </div>
    <script>
        let user = document.querySelector('#user');
        let sendBtn = document.querySelector('#send')
        let info = document.querySelector('#info')
        let userid = document.querySelector('#userid')
        let displayTable = document.querySelector('.display-table')
        let socket = io('ws://192.168.199.157:8003?id=123',{
            // autoConnect: false
            
        })

        socket.on('id',id=>{
            userid.innerHTML = id
        })
        socket.emit('talk to', displayTable.innerHTML)
        sendBtn.onclick = () => {
            if(!user.value || !info.value)return;
            socket.emit('talk to', `custom:id:${user.value}`, `${info.value}`)
        }
        socket.on('info',info=>{
            displayTable.innerHTML =  displayTable.innerHTML +'<br/>'+ info

        })
        
    </script>
</body>

</html>