<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
</head>

<body>

    <div>
        <input type="text" placeholder="目标id" value="2e139beffe138e76587be8525bdfd056" id="user">
        <input type="text" placeholder="想说的话" id="info">
        <button id="send">连接socket</button>
        <h3 id="userid">获取题目信息</h3>
        <hr>
        <div class="display-table"></div>
        <div class="display-table2"></div>
    </div>
    <script>
        let user = document.querySelector('#user');
        let sendBtn = document.querySelector('#send')
        let info = document.querySelector('#info')
        let userid = document.querySelector('#userid')
        let displayTable = document.querySelector('.display-table')
        let displayTable2 = document.querySelector('.display-table2')
        let uid = location.search.split('=')[1];
        let socket = io(`ws://192.168.1.121:8001?uid=${uid}`,{
            autoConnect: false
        })

        sendBtn.onclick=()=>{
            socket.open()
        }
        socket.on('message',info=>{
            displayTable.innerHTML = info
        })

        socket.on('pkinfo',data=>{
            displayTable2.innerHTML = `PK对象：${data.username}-${data.nickname}`
            
        })
        socket.on('error',err=>{
            console.log(err)
        })

        userid.onclick=()=>{
            socket.emit('get question',{
                uid
            },(res)=>{
                console.log(res)
            })
        }

        
    </script>
</body>

</html>